<div class="devoured-burger{{this.id}}">
	
    <button class="getDelete" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
    {{#if devoured}}Devour{{else}}{{/if}}
    </button>
    
    {{this.burger_name}}
	

</div>